@font-face {
    src:  url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-family: Montserrat;
}
@font-face {
    src:  url(../fonts/BodoniXT.ttf) format('truetype');
    font-family: BodoniXT;
}

html,
body  {
    font-family: 'Montserrat','Verdana';
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden;  
}
h1 {
    font-family: 'BodoniXT';
}
@media (max-width: 992px) {
    .mobileMenu {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      position: fixed;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      -webkit-transition: all ease-in-out 0.45s;
      transition: all ease 0.25s;
      background-color: #D1BA71 !important;
    }
    .mobileMenu.onRight {
      left: auto;
      right: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    .mobileMenu.open {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
              
    }
    .mobileMenu .navbar-nav {
      overflow-y: auto;
      
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .overlay.open {
      display: block;
      z-index: 1029;
    }
  }
.navbar {
    background-color: #000 !important;
}
#navbarSupportedContent {
    background-color: #000 !important;
}

.nav-link:hover {
    color: #D1BA71 !important;
    border-bottom: 1px solid #D1BA71;
    background-color:  rgba(172, 164, 154, 0.336);
    transition: all ease-in 0.25s;
    transform: translateY(-1px);
}

.jumbotron {
    background-color: #23234E;
    height: 700px;
    margin-bottom: 0px !important;
}
.jumbotron img {
    width: 100%;
    height: 400px;
}
.btn {
    height: auto;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 6px;
    box-shadow: none;
    outline: none !important;

}
.btn:hover {
    color: #D1BA71;
    background-color: rgb(17, 17, 17);
}
.btn:active {
    background-color: #fff;
    outline: #D1BA71 !important;
    box-shadow: none !important;
    max-width: 95%;
    height: 95%;
    transition: all ease-in 0.25s;
    transform:  translateY(3.5px);
    color: #000 !important;
}
#button {
    display: inline-block;
    background-color: #D1BA71;
    width: 50px;
    height: 50px;
    text-align:  center;
    border-radius: 50%;
    position:  fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility 1s;
    opacity: 0;
    visibility:  hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    color: #fff;
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 50px;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility:  visible;
}
.building {
    min-height: 600px;
    background-image: url(../img/13.jpg);
    background-position:  center;
    background-size:  cover;
    background-repeat:  no-repeat;    
}
.leadtext {
    z-index: 1;
}
.p-5 {
    margin: 10px;
    background-color: #fff;
    max-width: 350px;
    background-image: transparent !important;
    font-weight:  bold;
    
}
.p-5:hover {
    width: 120%;
    transition: all width ease-in 0.25s;
    transform:  translateY(-2px);
    border: 1px solid #D1BA71;
    cursor:  pointer;
}
#strategy {
    background-image: url(../img/14.jpg);
    background-position:  bottom;
    background-size:  cover;
    padding-top: 60px !important;
}
.flex-item {
    width: 200px;
    height: 300px;
}
.col-md-8 {
    background-color: rgb(41, 41, 65) !important;
    color: #fff !important;
}
#values {
    padding: 60px 40px 0px;
}
#entre {
    background-image: url(../img/4.jpg);
    background-position:  center;
    background-size:  cover;
}
#team {
    background-image: url(../img/10.jpg);
    background-position:  center;
    background-size:  cover;
}
#social {
    background-image: url(../img/8.jpg);
    background-position:  center;
    background-size:  cover;
}
#rela {
    background-image: url(../img/18.jpg);
    background-position:  center;
    background-size:  cover;
}
#excel {
    background-image: url(../img/17.jpg);
    background-position:  center;
    background-size:  cover;
}
#strat {
    background-image: url(../img/2.jpg);
    background-position:  center;
    background-size:  cover;
}
#contact {
    margin-top: 150px;
    background-color: #000;
    max-height: 1700px;
    color: #fff;
    word-wrap: break-word;
}
#inquire a{
    color: #fff;
    text-decoration:  none;
}
#inquire a:hover {
    color: #D1BA71;
}
@media all and (max-width: 576px) {
    #home img {
    height: 200px;
    margin-top: 120px;
    margin-bottom: 30px !important;
    }
    .building p {
    font-size:25px !important;
    line-height: 40px !important;
    }
    #abticon {
    height: 70% !important;
    width: 60% !important;
    }
    #foundation {
    height: 70% !important;
    width: 60% !important;
    }
    #chart {
    height: 70% !important;
    width: 60% !important;
    }
    .cardpic {
    height: 200px !important;
    }
    
}